<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../../public/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <nav id="fixedbar">
      <ul id="fixednav">
        <li><a href="#">About</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Gigs</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div id="w">

      <header id="logo"><a href="index.html"><span id="logobg">SomeWebsiteLogo</span></a></header>

      <nav id="navigation">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Gigs</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

      <div id="content">
        <div class="section group">
          <div class="col span_1_of_4">
            1 of 4
          </div>
          <div class="col span_1_of_4">
            1 of 4
          </div>
          <div class="col span_1_of_4">
            1 of 4
          </div>
          <div class="col span_1_of_4">
            1 of 4
          </div>
        </div>
      <!-- content here -->
      </div>
    </div>
  </body>
</html>
