<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../../public/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <nav id="fixedbar">
      <ul id="fixednav">
        <li><a href="#">About</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Gigs</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div id="w">

      <!-- <header id="logo"><a href="index.html"><span id="logobg">SomeWebsiteLogo</span></a></header> -->

      <nav id="navigation">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Gigs</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <img src="../../../public/images/logo.png" alt="" id="logo"/>
      </nav>

      <div id="content">
        <div class="section group">
          <div class="col span_1_of_4">
            The QWERTZ or QWERTZU keyboard is a widely used computer and typewriter keyboard layout that is mostly used in Central Europe. The name comes from the first six letters at the top left of the keyboard: Q, W, E, R, T, and Z.
The main difference between QWERTZ and QWERTY is that the positions of the "Z" and "Y" keys are switched, this change being made for two major reasons:
"Z" is a much more common letter than "Y" in German; the latter rarely appears outside words whose spellings reflect either their importation from a foreign language or the Hellenization of an older German form under the influence of Ludwig I of Bavaria.
"T" and "Z" often appear next to each other in the German orthography, and placing the two keys next to each other minimizes the effort needed for typing the two characters in sequence (cf. the use of a single-block tz ligature in many early mechanical printing presses using fraktur typefaces).
The East Cantoons, the German speaking part of Belgium uses the AZERTY keyboard.
Like in many other non-English keyboards:
Part of the keyboard is adapted to include language-specific characters, e.g. umlauted vowels (ä, ö, ü) in German and Austrian keyboards.
QWERTZ keyboards usually change the right Alt key into an Alt Gr key to access a third level of key assignments. This is necessary because the language-specific characters leave no room to have all the special symbols of ASCII, needed by programmers among others, available on the first or second (shifted) levels without unduly increasing the size of the keyboard.
The placements of some special symbols are changed when compared to the English (UK and US) versions of QWERTY.
Some of special key inscriptions are often changed from an abbreviation to a graphical symbol (for example "Caps Lock" becomes a hollow arrow pointing down, "Backspace" becomes a left-pointing arrow). In German and Austrian keyboards, most of the other abbreviations are replaced by German abbreviations: "Ctrl" for "control" is translated to its German equivalent "Strg" for "Steuerung", and "Delete" is abbreviated "Entf" (German entfernen = delete, remove). "Esc" for "escape" and "Enter" on the numeric keypad are not translated however.
A QWERTZ keyboard layout is sometimes informally nicknamed a kezboard, substituting the y with a z.
The QWERTZ or QWERTZU keyboard is a widely used computer and typewriter keyboard layout that is mostly used in Central Europe. The name comes from the first six letters at the top left of the keyboard: Q, W, E, R, T, and Z.
The main difference between QWERTZ and QWERTY is that the positions of the "Z" and "Y" keys are switched, this change being made for two major reasons:
"Z" is a much more common letter than "Y" in German; the latter rarely appears outside words whose spellings reflect either their importation from a foreign language or the Hellenization of an older German form under the influence of Ludwig I of Bavaria.
"T" and "Z" often appear next to each other in the German orthography, and placing the two keys next to each other minimizes the effort needed for typing the two characters in sequence (cf. the use of a single-block tz ligature in many early mechanical printing presses using fraktur typefaces).
The East Cantoons, the German speaking part of Belgium uses the AZERTY keyboard.
Like in many other non-English keyboards:
Part of the keyboard is adapted to include language-specific characters, e.g. umlauted vowels (ä, ö, ü) in German and Austrian keyboards.
QWERTZ keyboards usually change the right Alt key into an Alt Gr key to access a third level of key assignments. This is necessary because the language-specific characters leave no room to have all the special symbols of ASCII, needed by programmers among others, available on the first or second (shifted) levels without unduly increasing the size of the keyboard.
The placements of some special symbols are changed when compared to the English (UK and US) versions of QWERTY.
Some of special key inscriptions are often changed from an abbreviation to a graphical symbol (for example "Caps Lock" becomes a hollow arrow pointing down, "Backspace" becomes a left-pointing arrow). In German and Austrian keyboards, most of the other abbreviations are replaced by German abbreviations: "Ctrl" for "control" is translated to its German equivalent "Strg" for "Steuerung", and "Delete" is abbreviated "Entf" (German entfernen = delete, remove). "Esc" for "escape" and "Enter" on the numeric keypad are not translated however.
A QWERTZ keyboard layout is sometimes informally nicknamed a kezboard, substituting the y with a z.
The QWERTZ or QWERTZU keyboard is a widely used computer and typewriter keyboard layout that is mostly used in Central Europe. The name comes from the first six letters at the top left of the keyboard: Q, W, E, R, T, and Z.
The main difference between QWERTZ and QWERTY is that the positions of the "Z" and "Y" keys are switched, this change being made for two major reasons:
"Z" is a much more common letter than "Y" in German; the latter rarely appears outside words whose spellings reflect either their importation from a foreign language or the Hellenization of an older German form under the influence of Ludwig I of Bavaria.
"T" and "Z" often appear next to each other in the German orthography, and placing the two keys next to each other minimizes the effort needed for typing the two characters in sequence (cf. the use of a single-block tz ligature in many early mechanical printing presses using fraktur typefaces).
The East Cantoons, the German speaking part of Belgium uses the AZERTY keyboard.
Like in many other non-English keyboards:
Part of the keyboard is adapted to include language-specific characters, e.g. umlauted vowels (ä, ö, ü) in German and Austrian keyboards.
QWERTZ keyboards usually change the right Alt key into an Alt Gr key to access a third level of key assignments. This is necessary because the language-specific characters leave no room to have all the special symbols of ASCII, needed by programmers among others, available on the first or second (shifted) levels without unduly increasing the size of the keyboard.
The placements of some special symbols are changed when compared to the English (UK and US) versions of QWERTY.
Some of special key inscriptions are often changed from an abbreviation to a graphical symbol (for example "Caps Lock" becomes a hollow arrow pointing down, "Backspace" becomes a left-pointing arrow). In German and Austrian keyboards, most of the other abbreviations are replaced by German abbreviations: "Ctrl" for "control" is translated to its German equivalent "Strg" for "Steuerung", and "Delete" is abbreviated "Entf" (German entfernen = delete, remove). "Esc" for "escape" and "Enter" on the numeric keypad are not translated however.
A QWERTZ keyboard layout is sometimes informally nicknamed a kezboard, substituting the y with a z.
The QWERTZ or QWERTZU keyboard is a widely used computer and typewriter keyboard layout that is mostly used in Central Europe. The name comes from the first six letters at the top left of the keyboard: Q, W, E, R, T, and Z.
The main difference between QWERTZ and QWERTY is that the positions of the "Z" and "Y" keys are switched, this change being made for two major reasons:
"Z" is a much more common letter than "Y" in German; the latter rarely appears outside words whose spellings reflect either their importation from a foreign language or the Hellenization of an older German form under the influence of Ludwig I of Bavaria.
"T" and "Z" often appear next to each other in the German orthography, and placing the two keys next to each other minimizes the effort needed for typing the two characters in sequence (cf. the use of a single-block tz ligature in many early mechanical printing presses using fraktur typefaces).
The East Cantoons, the German speaking part of Belgium uses the AZERTY keyboard.
Like in many other non-English keyboards:
Part of the keyboard is adapted to include language-specific characters, e.g. umlauted vowels (ä, ö, ü) in German and Austrian keyboards.
QWERTZ keyboards usually change the right Alt key into an Alt Gr key to access a third level of key assignments. This is necessary because the language-specific characters leave no room to have all the special symbols of ASCII, needed by programmers among others, available on the first or second (shifted) levels without unduly increasing the size of the keyboard.
The placements of some special symbols are changed when compared to the English (UK and US) versions of QWERTY.
Some of special key inscriptions are often changed from an abbreviation to a graphical symbol (for example "Caps Lock" becomes a hollow arrow pointing down, "Backspace" becomes a left-pointing arrow). In German and Austrian keyboards, most of the other abbreviations are replaced by German abbreviations: "Ctrl" for "control" is translated to its German equivalent "Strg" for "Steuerung", and "Delete" is abbreviated "Entf" (German entfernen = delete, remove). "Esc" for "escape" and "Enter" on the numeric keypad are not translated however.
A QWERTZ keyboard layout is sometimes informally nicknamed a kezboard, substituting the y with a z.
          </div>
          <div class="col span_1_of_4">
            1 of 4
          </div>
          <div class="col span_1_of_4">
            1 of 4
          </div>
          <div class="col span_1_of_4">
            1 of 4
          </div>
        </div>
      <!-- content here -->
      </div>
    </div>
    <footer>
      <script src="../../public/jquery-1.12.2.js"></script>
      <script src="../../public/jq-navbar.js"></script>
    </footer>
  </body>
</html>
